<div id="top" class="top-box">
  <div class="top">
  <div class="icon-box" (click)="router.navigate([''])">
    <h1 class="topic class-btn-box">Animepedia</h1>
  </div>
  <div class="class-1" routerLink="/anime">
    <div class="class-2 class-btn-box">
      <h1 class="optional-btn top-optional-btn">Anime</h1>
    </div>
  </div>
  <div class="class-1" routerLink="/characters">
    <div class="class-2 class-btn-box">
      <h1 class="optional-btn top-optional-btn">Character</h1>
    </div>
  </div>
  <div class="class-1" routerLink="/genres">
    <div class="class-2 class-btn-box">
      <h1 class="optional-btn top-optional-btn">Genre</h1>
    </div>
  </div>
  <div *ngIf="logged" class="class-1">
    <div class="class-2 class-btn-box">
      <h1 class="optional-btn top-optional-btn">Create</h1>
      <div class="class-3 class-5">
        <div class="class-4" (click)="createAnime()">
          <h1>Anime page</h1>
        </div>
        <div class="class-4" (click)="createCharacter()">
          <h1>Character page</h1>
        </div>
        <div class="class-4" (click)="createGenre()">
          <h1>Genre page</h1>
        </div>
      </div>
    </div>
  </div>
  </div>
  <button class="login-btn" *ngIf="!logged" (click)="login()">Log In</button>
  <button class="login-btn" *ngIf="logged" (click)="logout()">Log Out</button>
</div>
