<div class="flex-container">
    <div>
        <img src="../../assets/images/background.jpg" alt="" class="left-background">
        <p class="left-background-text">Welcome to <br> Animepedia</p>
    </div>
    <div>
       <a href="anime/"><div class="anime-photo">
            <img src="../../assets/images/anime.jpg" alt="" class="anime-photo">
            <p class="anime-text">Anime</p>
            </div>
        </a>
        <a href="characters/"><div class="characters-photo">
            <img src="../../assets/images/characters.jpg" alt="" class="characters-photo">
            <p class="characters-text">Characters</p>
            </div>
        </a>
        <a href="genres/"><div class="genres-photo">
            <img src="../../assets/images/genres.jpg" alt="" class="genres-photo">
            <p class="genres-text">Genres</p>
            </div>
        </a>
    </div>
</div>