.flex-container{
    display: flex;

}
.left-background{
    width:125%;
    height:156.6%;
}
.anime-photo,.characters-photo,.genres-photo{
    width:83%;
    margin-left: 17%;
    height: 72.4%;
}
.characters-photo{
   margin-top:-9.2%;
}
.genres-photo{
    margin-top:-13.5%;
 }
.left-background-text{
    margin-top:-25%;
    margin-left:15%;
    font-size: 300%;
    position: relative;
    width:max-content;
    -webkit-text-stroke: 2px #ffffff;
    color: black;
    font-weight: bold;
}
a{
    text-decoration: none;
  transition: all 1s;
}
a:hover{
    font-size: 1.3em;
  transition: all 1s;
}
.anime-text,.characters-text,.genres-text{
    margin-top:-40%;
    margin-left:25%;
    font-size:250%;
    position: relative;
    width:max-content;
    -webkit-text-stroke: 2px #ffffff;
    color: black;
    font-weight: bold;
}
