<div class="flex-container">
    <div class="left">
        <img src="../../assets/images/background.jpg" alt="" class="photo">
        <p class="left-background-text text">Welcome to <br> Animepedia</p>
    </div>
    <div class='right'>
       <a href="anime/">
         <div class="photo-box">
            <img src="../../assets/images/anime.jpg" alt="" class="photo">
            <p class="text">Anime</p>
            </div>
        </a>
        <a href="characters/">
          <div class="photo-box">
            <img src="../../assets/images/characters.jpg" alt="" class="photo">
            <p class="text">Characters</p>
            </div>
        </a>
        <a href="genres/">
          <div class="photo-box">
            <img src="../../assets/images/genres.jpg" alt="" class="photo">
            <p class="text">Genres</p>
            </div>
        </a>
    </div>
</div>
