.login{
  font-size: 30px;
  margin-bottom: 30px;
  outline: none;
  border-radius: 5px;
  padding: 3px 8px;
  border: gray 1px solid;
  font-family: inherit;
}


.login-box{
  margin: 10% 30%;
  width: 40%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  color: black;
  border: bisque 1px solid;
  background-color: #ffffffbb;
  text-align: center;
  font-size: 30px;
  line-height: 100px;
  border-radius: 5px;
}

.login-btn {
  /*background-color: #0000ff50;*/
  font-family: inherit;
  padding: 3px 8px;
  outline: none;
  font-size: 30px;
  border: 1px gray solid;
  border-radius: 5px;
}
