<div *ngIf="anime">
    <div class= "flex-container">
        <div class= "anime_detailLeft">

            <input type="text"  [disabled]="!managing"  [(ngModel)]="anime.english_name" class="name">

            <div *ngIf= "anime.description" >
                <p *ngIf="!managing" class="description">
                    {{ anime.description }}
                </p>
                <textarea class="text-area" *ngIf="managing"
                    [(ngModel)]="anime.description"></textarea>
            </div>

            <div class="contents" *ngIf="!managing" >
                <div class="content-add-space">
                    <h3>Contents</h3>
                    <button class="content-add-button" (click)="addArticle()">Add</button>
                </div>
                <ul style="list-style-type:none;">
                    <li class="contestList" *ngFor ="let article of articles">
                        <a href="anime/{{anime.id}}#article-{{article.id}}">{{article.name}}</a>
                        <button class="content-delete-button" (click)="deleteArticle(article.id)">Delete</button>
                    </li>
                    <li class="contestList">
                        <a href="anime/{{anime.id}}#characters">Characters</a>
                    </li>
                </ul>
            </div>

            <div *ngIf="!managing">
                <a href="anime/{{anime.id}}#characters"><button class="Characters">Characters</button></a>
                    <p class="buttontexts">A character is the protagonist of a play, movie, book, game, etc. Characters can be completely fictional or taken from real life. Characters can be humans, animals, supernatural, mythical, divine beings, or personified abstract entities.</p>
            </div>

            <div *ngIf="!managing">
              <div class="Genres">
                Genres
                <button class="content-add-button right-btn" (click)="addGenre=true">Add</button>
              </div>
                <div class="genreList" *ngFor = "let genre of genres">
                    <a class="genreName"   [routerLink]="['/', 'genre', genre.id]">{{genre.name}}</a>
                    <div class="genre-buttons-space">
                        <a class="genreButt"   [routerLink]="['/', 'genres', genre.id]"><button>Genre Detail</button></a>
                        <button class="genre-delete-button" (click)="deleteGenre(genre.id)">Delete</button>
                    </div>
                </div>
              <app-add-genre *ngIf="addGenre" (addGenres)="addGenres($event)"></app-add-genre>
            </div>

        </div>
        <div class= "anime_detailRight">

            <div *ngIf= "anime.english_name" >
                <p *ngIf="!managing"  class="rightname">{{ anime.english_name }}</p>
                <input type="text" *ngIf="managing" [(ngModel)]="anime.english_name"  class="rightname">
            </div>


            <div>
                <div *ngIf="!managing">
                     <img src='{{anime.photo_url}}' *ngIf="anime.photo_url" class="photo">
                <img src='../../assets/images/no-image-available.png' *ngIf="!anime.photo_url" class="photo">
                </div>
                <input type="text"  *ngIf="managing" [(ngModel)]="anime.photo_url" class="input-photo-url">
            </div>


            <p class="rightname"> Characteristics</p>


            <div *ngIf= "anime.country" class="characteristics-flex">
                <p>Country</p>
                <p *ngIf="!managing">{{ anime.country }}</p>
                <input type="text" [(ngModel)]="anime.country" *ngIf="managing" class="input-characteristics">
            </div>

            <div *ngIf= "anime.original_name" class="characteristics-flex-names">
                <p>Original name</p>
                <p *ngIf="!managing">{{ anime.original_name }}</p>
                <input type="text" [(ngModel)]="anime.original_name" *ngIf="managing" class="input-characteristics">
            </div>

            <div *ngIf= "anime.transcription" class="characteristics-flex-names">
                <p>Transcription</p>
                <p *ngIf="!managing">{{ anime.transcription }}</p>
                <input type="text" [(ngModel)]="anime.transcription" *ngIf="managing" class="input-characteristics">
            </div>
            <div *ngIf= "anime.english_name" class="characteristics-flex">
                <p>English name</p>
                <p *ngIf="!managing">{{ anime.english_name }}</p>
                <input type="text" [(ngModel)]="anime.english_name" *ngIf="managing" class="input-characteristics">
            </div>
            <div *ngIf= "anime.year" class="characteristics-flex">
                <p>Year</p>
                <p *ngIf="!managing">{{ anime.year }}</p>
                <input type="text" [(ngModel)]="anime.year" *ngIf="managing" class="input-characteristics">
            </div>
            <div *ngIf= "anime.company" class="characteristics-flex">
                <p>Company</p>
                <p *ngIf="!managing">{{ anime.company }}</p>
                <input type="text" [(ngModel)]="anime.company" *ngIf="managing" class="input-characteristics">
            </div>
            <div *ngIf= "anime.author" class="characteristics-flex-names">
                <p>Author</p>
                <p *ngIf="!managing">{{ anime.author }}</p>
                <input type="text" [(ngModel)]="anime.author" *ngIf="managing" class="input-characteristics">
            </div>
            <button class="manage" *ngIf="!managing" (click)="managing=true">MANAGE</button>
            <button class="manage" *ngIf="managing" (click)=save()>SUBMIT</button>
        </div>
    </div>
  <div *ngFor="let article of articles">
    <app-article [article]="article" (update)="updateArticle($event)" (onDelete)="deleteArticle(article.id)"></app-article>
</div>
<div id="characters" class="characterList">
    <div *ngFor="let character of characters" class="anime-character" >
        <a class="anime-avatar-link">
          <img [src]="character.photo_url"    *ngIf="character.photo_url"  class="anime-character-avatar"
          [routerLink]="['/', 'characters', character.id]">
          <img src="../../assets/images/no-image-available.png"   *ngIf="!character.photo_url"  class="anime-character-avatar"
          [routerLink]="['/', 'characters', character.id]">
        </a>
        <a class="anime-character-name"   [routerLink]="['/', 'characters', character.id]">{{character.english_name}}</a>
      <button (click)="deleteCharacter(character.id)" class="genre-delete-button character-delete-btn">DELETE</button>
    </div>
  <div class="anime-character" (click)="addCharacter=true">
    <img src="../../assets/images/no-image-available.png" class="anime-character-avatar">
    <span class="anime-character-name">Add character</span>
  </div>
</div>
</div>
<app-add-characters (addCharacters)="addCharacters($event)" *ngIf="addCharacter"></app-add-characters>
