.flex-container{
    padding-top:3%;
    display:flex;
    padding:20px;
}
.name{
    margin-top:-7% ;
    padding-top:2%;
    padding-bottom:2%;
    text-align: center;
    background-color: rgb(120,170,245);
    border:3px solid aqua;
    border-radius: 3px;
}
.anime_detailRight{
    padding-left: 0.5% ;
    padding-right: 0.5% ;
    border: 2px solid blue;
    border-radius: 6px;
    height:max-content;
}
.anime_detailLeft{
    padding-left:1%;
    padding-top:5%;
}
.rightnames{
    text-align: center;
    background-color: rgb(120,170,245);
    font-weight: bold;
    border: 2px solid coral;
}
.manage{
    background-color:aqua;
    padding-left: 41%;
    padding-right:41%;
}
.photo{
    width:300px;
    height: auto;
}
.characteristics-flex,.characteristics-flex-names{
    padding-top:2%;
    padding-bottom: 2%;
    display:flex;
    justify-content: space-between;
}
.characteristics-flex{
    border-bottom : 2px solid blue;
}
.contents{
    border-left:3px solid rgb(243,128,75);
    background-color: rgb(242,212,204);
    border-radius: 3px;
    margin-top: 5%;
    padding-top:3%;
    padding-bottom:3%;
    padding-left:2%;
    padding-right:15%;
    font-size: 110%;
}
.contestList{
    padding-top: 3%;
    padding-left:20%;
}
a { 
    text-decoration: none;
}
a:hover { 
    text-decoration: underline; 
}
.description{
    
    font-size: 120%;
    padding:2%;
}
.Characters,.Genres{
    margin-top:2%;
    padding-top:2%;
    padding-bottom:2%;
    background-color: bisque;
    width:100%;
    font-weight: bold;
    font-size: 90%;
    border: 2px solid rgb(220,155,71);
}
.buttontexts{
    font-size: 110%;
    background-color: rgb(220,155,71);
}
.genreList{
    display: flex;
    background-color: rgb(220,155,71);
    justify-content:space-between;
}
.charactersList{
    display:flex;
    flex-flow: row wrap;
}
.genreName,.genreButt{
    
    padding-top:0.6%;
    padding-bottom:0.6%;
}
.genreName{
    padding-left:1%;
}
.genreButt{
    padding-right:1%;
}

.anime-character {
    display: flex;
    width: 21%;
    padding-top: 1%;
    flex-flow: column nowrap;
    align-items: center;
    border:2px solid gold;
    background-color:#ffd70050
}
.anime-avatar-link {
    width: 80%;
}
.anime-character-avatar {
    width: 100%;
    cursor: pointer;
}
.anime-character-name {
    max-width: 80%;
    overflow-wrap: break-word;
    padding: 15px 0;
    text-decoration: none;
    font-size: 1.3em;
    font-weight: 500;
    color: inherit;
}
.anime-character-name:hover {
    text-decoration: underline;
    color: coral;
}
.characterList{
    padding-bottom: 10%;;

    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}