<div *ngIf="anime">
  
  <div class= "flex-container">
      <div class= "anime_detailLeft">
        <div *ngIf= "anime.english_name" class="name">
            <h1>{{ anime.english_name }}</h1>
        </div>
          <p *ngIf= "anime.description" class="description">
              {{ anime.description }}
          </p>

          <div class="contents">
              <h3>Contents</h3>
              <ul style="list-style-type:none;" >
                  <li class="contestList"><a href="#content1"> Content 1</a></li>
                  <li class="contestList"><a href=".content2"> Content 2</a></li>
                  <li class="contestList"><a href=".content3"> Content 3</a></li>
                  <li class="contestList"><a href=".content4"> Content 4</a></li>
              </ul>
          </div>
          <div> 
              <button class="Characters">Characters</button>
                <p class="buttontexts">A character is the protagonist of a play, movie, book, game, etc. Characters can be completely fictional or taken from real life. Characters can be humans, animals, supernatural, mythical, divine beings, or personified abstract entities.</p>
          </div>
          <div>
              <button class="Genres">Genres</button>
              <p class="buttontexts"> Genre (from French genre 'kind, sort') is any form or type of communication in any mode (written, spoken, digital, artistic, etc.) with socially-agreed-upon conventions developed over time</p>
          </div>
          
      </div>
      <div class= "anime_detailRight">
          
          <div *ngIf= "anime.english_name" class="rightnames">
              <p>{{ anime.english_name }}</p>
          </div>
          <div *ngIf= "anime.photo_url" class="photo">
              <img src='{{anime.photo_url}}'>
          </div>

          <p class="rightnames"> Characteristics</p>
          <div *ngIf= "anime.country" class="characteristics-flex">
              <div>Country</div>
              <div>{{ anime.country }}</div>
          </div>
          <div *ngIf= "anime.original_name" class="characteristics-flex-names">
              <div>Original name</div>
              <div>{{ anime.original_name }}</div>
          </div>
          <div *ngIf= "anime.transcription" class="characteristics-flex-names">
              <div>Transcription</div>
              <div>{{ anime.transcription }}</div>
          </div>
          <div *ngIf= "anime.english_name" class="characteristics-flex">
              <div>English name</div>
              <div>{{ anime.english_name }}</div>
          </div>
          <div *ngIf= "anime.year" class="characteristics-flex">
              <div>Year</div>
              <div>{{ anime.year }}</div>
          </div>
          <div *ngIf= "anime.company" class="characteristics-flex">
              <div>Company</div>
              <div>{{ anime.company }}</div>
          </div>
          <div *ngIf= "anime.author" class="characteristics-flex-names">
              <div>Author</div>
              <div>{{ anime.author }}</div>
          </div>
          <button class="manage">MANAGE</button>
      </div>
  </div>
</div>
<!-- <div *ngFor="let article of articles;index as i" >
    <div *ngIf= "article.name">
        <h1>{{article.name}}</h1>
    </div>
    <div *ngIf= "article.content">
        {{article.content}}
    </div>
</div> -->
<p id="content1">Hello </p>