<!--<p>page works!</p>-->
<!--<div class="space"></div>-->
<div *ngIf="category" class="margin-left-50" id="category-{{categoryId}}">
  <button (click)="delete()">Delete</button>
  <!--  <h1>{{category.name}}</h1>-->
  <p>Name:</p>
  <input type="text" [disabled]="!managing" [(ngModel)]="category.name">
  <button (click)="managing=!managing" [innerText]="innerText()"></button>
  <button (click)="newCategory()">Add new Category</button>
  <!--  <p>{{category.content}}</p>-->
  <!--  <input type="">-->
  <p>
    <textarea name="aa" [(ngModel)]="category.content" [disabled]="!managing" maxlength="500"></textarea>
  </p>
  <div *ngFor="let id of category.categoriesID">
    <app-category [categoryId]="id" (delCategory)="deleteCategory(id)"></app-category>
  </div>
</div>
<!--<div class="space"></div>-->
